@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dndflow {
  display: flex;
  height: 100vh;
  background: #444;  
}

aside {
  width: 200px;
  padding: 10px;
  background: #333;
  color: #fff;
}

.dndnode {
  padding: 10px;
  margin-bottom: 10px;
  background: #444;
  border: 1px solid #444;
  rounded: 5px;
  color: #fff;
  cursor: grab;
}