@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dndflow {
  display: flex;
  height: 100vh;
}

aside {
  width: 200px;
  padding: 10px;
  background: #f0f0f0;
  border-right: 1px solid #ddd;
}

.dndnode {
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ddd;
  cursor: grab;
}